* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
.header{
    /* width: 100%;
  height: 400px;
  background-image: url('img_flowers.jpg');
  background-size: 100% 100%;
  border: 1px solid red; */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
.image-top{
    height: 400px;
    width: 100%;
    object-fit: cover;
    opacity: 1;
}
.image-head { 
    padding: 5px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.container{
    max-width: 1200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.content{
    padding-left: 10px;
    float: left;
    width: 75%;
}
/* .top {
    align-items: center;
} */
.title{
    width: 100%;
    padding-right: 15px;
}
.image-title{
    display: flex;
    padding: 10px;    
}
.photo {
    padding: 10px;
    width: 400px;
    height: 600px;
    object-fit: cover;
}
.info-tour {
    width: 100%;
    padding-right: 15px;
}
.info{
    padding: 5px;
}
.info-photo{
    width: 350px;
    height: 350px;
    object-fit: cover;
}
.text-DKTV {
    font-size: 20px;
}
.content-DKTV {
    width: 350px;
    font-size: 16px;
}
.content-ip {
    flex-direction: column;
}
.ip{
    width: 350px;
    height: 40px;
}
.ip-1{
    width: 350px;
    height: 150px;
}
.btn{
    width: 350px;
    height: 40px
}
.bt {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.tour {
    max-width: 1200px;
   
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
}
.bottom {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 5px; */
    width: 100%;
    display: flex;
    justify-content: center;
    object-fit: cover;
}
.info-bottom {
    display: flex;
    justify-content: center;
    text-align: center;
}
.w3-bar {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.footer {
    background-color: rgb(247, 248, 231);
    max-width: 1200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.weather {
    background-color: #1abee9;
    border-radius: 5px;
    padding: 29px 0 30px 20px;
    color: #fff;
    box-shadow: 0 0 5px #666;
    opacity: .8;  
}
/* .w3-quarter {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    text-align: center!important
} */